build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

.vscode/

# ingore the folder of ./bbu_shield_cleaned and bbu_logs
mixed_data_root/
bbu_logs/
joined_logs/